/* ---------------------- CSS RESET (START) ---------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------- CSS RESET (END) ---------------------- */

@font-face {
  font-family: 'Libre Baskerville';
  src: url('./assets/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf') format('truetype');
  font-style: 'normal';
  font-weight: '400';
}

:root {
  --clr-primary-300: 0; /* idk what these are for */
  --clr-primary-400: 0;

  /* Instead of setting primary/secondary/... for foreground, background, ... just set a scale for these generic values */
  --clr-neutral-100: #ffffff; /* Lightest neutral color (background?) -- white  */
  --clr-neutral-900: #000000;

  /* Just shades of that blue accent */
  --clr-accent-300: #a3b8e2;

  --ff-primary: 'Libre Baskerville', sans-serif;
  --ff-secondary: 'Libre Baskerville', sans-serif;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-primary);

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-300: 0.5rem;
  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;

  --fs-title: var(--fs-600);
  --fs-primary-heading: var(--fs-500);
  --fs-secondary-heading: var(--fs-500);
  --fs-body: var(--fs-400);
  --fs-nav: var(--fs-300);
}


/* Utility */
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-neutral-100 {
  color: var(--clr-neutral-100);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-title {
  font-size: var(--fs-title);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.container {
  --max-width: 960px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.text-center {
  text-align: center;
}

.text-highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, var(--clr-accent-300) 50%);
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

/* General */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-900);
}

header {
  margin-top: 2rem;
}

#nav {
  border-top: solid 1px var(--clr-neutral-900);
  border-bottom: solid 1px var(--clr-neutral-900);
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 2rem; /*TODO: Change to utility? */
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-neutral-900);
}

/* TODO: Redudant, copies text-highlight utility */
.nav-list .active {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, var(--clr-accent-300) 50%);
}


